.btn {
	@include tr;
	height: rem(44);
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: rem(8);
	font-size: rem(14);
	font-weight: 700;
	line-height: 1;
	border: 1px solid transparent;
	border-radius: $radius;
	padding: rem(0 12);
	text-align: center;
	cursor: pointer;
	flex-shrink: 0;

	@include min(lg) {
		font-size: rem(16);
		padding: rem(0 16);
	}

	@include min(xl) {
		font-size: rem(18);
		padding: rem(0 20);
	}

	svg {
		flex-shrink: 0;
		width: rem(24);
		height: rem(24);
		transition: none;
	}

	&-lg {
		font-size: rem(24);
		height: rem(60);
		padding: rem(0 40);
	}


	&-primary {
		background-color: $primary;
		border-color: $primary;
		color: $white;

		&:hover,
		&:focus,
		&:active {
			background-color: $secondary;
			color: $primary;
		}
	}
}

.btn-outline {
	background-color: transparent;
	border-color: $primary;
	color: $primary;

	&:hover,
	&:focus,
	&:active {
		background-color: $primary;
		border-color: $primary;
		color: $white;
	}
}

.btn-outline-secondary {
	background-color: transparent;
	border-color: $secondary;
	color: $secondary;

	&:hover,
	&:focus,
	&:active {
		background-color: $secondary;
		border-color: $secondary;
		color: $white;
	}
}

// Label styled as button
.btn-label {
	display: inline-flex;
	justify-content: center;
	background-color: $primary;
	color: $white;
	font-size: rem(14);
	line-height: rem(14);
	padding: rem(5 10);
	border-radius: $radius;

	&-secondary {
		background-color: $secondary;
	}
}

input[type="submit"] {
	@extend .btn;
}

// Button Group
.btn-group {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: rem(12);
}

.btn {
	&-left {
		margin-right: auto !important;
	}
	&-center {
		margin-right: auto !important;
		margin-left: auto !important;
	}
	&-right {
		margin-left: auto !important;
	}
}