// Fluid-responsive font-size calculator
// @link https://websemantics.uk/tools/responsive-font-calculator/
// clamp browser width: from 575px to 1440px

@include headings {
	min-height: 0vw; // safari fix
	font-family: $font-heading;
	font-weight: 700;
	line-height: 1.1;
	margin: 0;
	padding: 0;

	a {
		color: inherit;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	span {
		color: $primary;
	}
	.module-white & {
		color: $secondary;
	}
	.module-grey & {
		color: $secondary;
	}
	.module-blue & {
		color: $white;
	}
}

h1,
.h1 {
	font-size: clamp-rem(48, 60);
	@include min(xxl) {
		font-size: rem(80);
	}
}

h2,
.h2 {
	font-size: clamp-rem(32, 48);
}

h3,
.h3 {
	font-size: clamp-rem(24, 32);
}

h4,
.h4 {
	font-size: clamp-rem(20, 24);
}

h5,
.h5 {
	font-size: clamp-rem(18, 20);
}

h6,
.h6 {
	font-size: rem(16);
}