// Fluid-responsive font-size calculator
// @link https://websemantics.uk/tools/responsive-font-calculator/
// clamp browser width: from 575px to 1440px


@include headings {
	display: flex;
	width: fit-content;
	min-height: 0vw; // safari fix
	font-family: $font-heading;
	font-weight: 800;
	line-height: 1.1;
	letter-spacing: -0.02em;
	margin: 0;
	padding: 0;
	color: $iag-gray-900;

	a {
		color: inherit;
	}
}

h1,h2,h3,h4,h5,h6,
.h1,.h2,.h3,.h4,.h5,.h6 {
	.bg-white & {
		color: $iag-gray-900;
	}
	.bg-gray & {
		color: $iag-gray-900;
	}
	.bg-blue & {
		color: $white;
	}
}

h1,
.h1 {
	font-size: clamp-rem(44, 52);
	font-weight: 800;
	letter-spacing: -0.025em;
	@include min(xxl) {
		font-size: rem(80);
	}
}

h2,
.h2 {
	font-size: clamp-rem(36, 44);
	@include min(xxl) {
		font-size: rem(52);
	}
}

h3,
.h3 {
	font-size: clamp-rem(28, 36);
	@include min(xxl) {
		font-size: rem(40);
	}
}

h4,
.h4 {
	font-size: clamp-rem(24, 28);
	@include min(xxl) {
		font-size: rem(32);
	}
}

h5,
.h5 {
	font-size: clamp-rem(20, 24);
	@include min(xxl) {
		font-size: rem(28);
	}
}

h6,
.h6 {
	font-size: rem(18);
	@include min(xxl) {
		font-size: rem(22);
	}
}