.breadcrumbs {
	font-size: rem(12);
    font-weight: 400;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    color: $iag-navy-200;
	font-family: $font-alt;
	@include min(xxl) {
		font-size: rem(16);
	}

	a {
		color: inherit;

		&:hover {
			color: $iag-orange-400;
		}
	}
}
