/***************************
* Custom Admin styles
***************************/
$admin-blue: #0073aa;
$admin-green: #009688;
$admin-green-hover: darken($admin-green, 8%);

// ACF flexible content
.acf-flexible-content {
	.layout {
		border: 2px solid $admin-blue;
	}
}

.acf-field-flexible-content {
	&:before {
		display: none !important;
	}

	> .acf-label {
		width: 100% !important;
		float: none !important;
		margin-bottom: 7px !important;
	}

	> .acf-input {
		width: 100% !important;
	}
}

.acf-fc-layout-handle {
	font-size: 1.2rem;
	font-weight: 600;
}

.acf-flexible-content
.layout
.acf-fc-layout-controls
.acf-icon.-collapse:hover {
	color: #fff;
	background: #2a9bd9;
}

.acf-field.acf-accordion {
	border: 2px solid $admin-blue;
	margin-top: 3px;

	.acf-label.acf-accordion-title {
		background: $admin-blue;
		color: #fff;
		font-size: 1.2rem;
		font-weight: 600;
	}
}

// ACF Extended
.acfe-modal.-open.-full > .acfe-modal-wrapper {
	max-width: 1100px;
}

.acfe-flexible-stylised-button {
	.acf-actions {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.acf-button {
		background: $admin-green;
		color: #fff;
		border: 3px solid $admin-green;
		padding: 4px 80px;
		font-weight: 700;
		transition: all 0.2s;

		&:hover,
		&:active,
		&:focus {
			background: $admin-green-hover;
			color: #fff;
			border-color: $admin-green-hover;
		}
	}
}

// hide ACFE 'Thumbnail' upload button as we are loading this image into theme
.acf-field-image[data-name="acfe_flexible_thumbnail"],
.acfe-flexible-field-setting[data-name="acfe_flexible_thumbnail_label"] {
	display: none;
}
