.site-footer {
	flex-shrink: 0;
	width: 100%;
	background-color: $secondary;
	color: $white;
	padding: rem(40 0 20);

	&__logo {
		width: fit-content;
		flex-shrink: 0;
		display: block;
		line-height: 0;
		transition: $default-transition;

		img {
			height: rem(100);
			width: auto;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: rem(8);

		.contact-link {
			display: flex;
			align-items: center;
			gap: rem(8);

			.svg-icon {
				width: rem(32);
				height: rem(32);
				flex-shrink: 0;
			}
		}
	}

	.socials {
		margin-top: rem(24);
		gap: rem(32);
		&__item {
			svg {
				width: rem(32);
				height: rem(32);
			}
		}
	}

	&__top {
		padding-bottom: rem(40);
		border-bottom: 1px solid rgba($grey-border, .5);
	}

	&__middle {
		padding: rem(20 0);
	}

	&__menu {
		.footer-links {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			gap: rem(24);
			row-gap: rem(16);
		}
	}

	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		padding-top: rem(20);
		margin-top: rem(20);
		border-top: 1px solid rgba($grey-border, .5);

		&-copyright {
			font-size: rem(12);
			text-align: center;
		}

		&-menu {
			font-size: rem(12)
		}
	}

}

.footer-links {
	@include unstyled-list;
	display: flex;
	flex-direction: column;
	gap: rem(16);
	text-align: center;

	@include min(lg) {
		flex-direction: row;
		gap: rem(30);
	}

	li {
		line-height: 1;
	}

	a {
		color: $white;

		&:hover {
			color: $primary;
		}
	}
}
