.site-header {
	width: 100%;
	height: var(--header-height);
	padding: rem(12 0);
	background-color: $iag-navy-800;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	border-bottom: 1px solid rgba(255, 255, 255, 0.06);
	transition: background-color $time, height $time;
	// display: none;

	.has-hero:not(.is-scrolled) & {
		background-color: transparent;
	}

	.is-scrolled & {
		height: var(--header-scrolled-height);
		box-shadow: 0 10px 10px rgba($black, 0.1);
	}

	> .container {
		position: relative;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		gap: rem(12);
		min-width: fit-content;
		@include max(lg) {
			gap: rem(24);
		}
	}

	.site-logo {
		margin-right: auto;
		z-index: 3;
	}

	.header-cta-button {
		@include max(xl) {
			display: none;
		}
		@include min(xxl) {
			padding: rem(14 20);
			height: rem(50);
		}
	}

	.header-phone-button {
		@include max(xl) {
			font-size: 0;
			width: rem(48);
			height: rem(48);
			border-radius: 50%;

			.btn-icon {
				width: rem(24);
				height: rem(24);
				margin-right: rem(-8);
			}
		}
		@include min(xxl) {
			padding: rem(14 20);
			height: rem(50);
		}
	}
}

.site-logo {
	flex-shrink: 0;
	display: block;
	line-height: 0;
	transition: opacity $time;

	img {
		width: auto;
		height: rem(40);
	}
}

// Mobile menu toggle
.icon-burger {
	flex-shrink: 0;
	display: inline-block;
	width: rem(30);
	height: rem(20);
	cursor: pointer;
	position: relative;
	z-index: 110;

	.is-menu-open & {
		i {
			background-color: transparent;

			&:before {
				transform: rotate(-45deg) translateY(rem(-4));
			}

			&:after {
				transform: rotate(45deg) translateY(rem(4));
			}
		}
	}

	i {
		display: block;
		width: 100%;
		height: 2px;
		background-color: $primary;
		position: absolute;
		top: calc(50% - 1px);
		left: 0;
		transition: transform $time;

		&:before,
		&:after {
			@include tr;
			content: '';
			display: block;
			width: 100%;
			height: 2px;
			background-color: $primary;
			transform-origin: right center;
			position: absolute;
			right: 0;
		}

		&:before {
			top: rem(-8);
		}

		&:after {
			top: rem(8);
		}
	}
}
