// Primary Colors -------------------------------------------
$primary: #FC7624;
$secondary: #0F1F33;

// Main Colors
$black: #000;
$black_01: #1C1C1F;


$white: #fff;
$white-50: rgba($white, 0.5);

$white_01: #f7f7f8;
$white_02: #d0dcfa;
$white_03: #f3f6fe;
$white_04: #d0dcfa;
$white_05: #DDE1E6;

$grey: #a0a0a0;
$grey_01: #D9D9DE;
$grey_02: #78839e;


// Backgrounds and Borders
$bg-blue: #0F1F33;
$bg-white: #fff;
$bg-grey: #f7f7f8;
$grey-border: #d0dcfa;
$grey-shadow: #B9B9C1;




$blue: #0f224e;
$blue_01: #78839e;




// $bg-module-white-hover: #d0dcfa;
$bg-module-grey: #f3f6fe;
$bg-module-grey-hover: #d0dcfa;
// $bg-dark: #0F1F33;
// $bg-module-dark: #0f224e;


$black: #000;
$black_01: #1C1C1F;
$white: #fff;
$white_01: #f7f7f8;
$white-50: rgba($white, 0.5);
$grey: #a0a0a0;
$grey_01: #D9D9DE;


$nav-title: #162B48; // submenu titles
$nav-orange: #EB5C1E; // orange lines / arrows / CTA
$submenu-bg: #FFFFFF; // submenu background


$white-border: #DDE1E6; // column borders

$red: #dc3232;
$green: #6dc22e;
$orange: #f56e28;
$yellow: #F2C94C;


$color-text: $black_01;
$color-heading: $primary;
$color-link: $primary;


// Fonts -------------------------------------------
$font-text: 'FixelText', sans-serif;
$font-heading: 'FixelDisplay', sans-serif;

$font-code: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;


// Typography -------------------------------------------
$font-size-base: 16; // Assumes the browser default (typically 16px)
$font-weight-base: 400;
$line-height-base: 1.6;

$radius: rem(8); // global border-radius (can be 0, but need to keep it)


// Transitions -------------------------------------------
$time: 0.3s;
$default-transition: all $time 0s;
$medium-transition: all 0.5s 0s;


// Grid breakpoints -------------------------------------------
// for min-width = values, for max-width = value - 1px.
// example: @include min(lg) = @media (min-width: 1025px)
// example: @include max(lg) = @media (max-width: 1024px)
$grid-breakpoints: (
	xs: 0,
	md: 640px,
	lg: 1025px,
	xl: 1440px,
	xxl: 1920px,
);

// Grid columns
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width: 30px; // 15px on each side

// Grid containers
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
	xs: 100%,
	md: 100%,
	lg: 100%,
	xl: 1400px,
	xxl: 1680px,
);

// Container padding
$container-gutter-x-values: (
	xs: 30px,
	// 15px on each side
	md: 60px,
	// 30px on each side
	lg: 100px,
	// 50px on each side
	xl: 100px,
	// 50px on each side
	xxl: 100px,
	// 50px on each side
);

// Container fluid maximum width
$container-fluid-max-width: 1920px;

/*
 * Global CSS Variables:
 */
:root {
	--container-width: 100%;

	@each $bp in map-keys($grid-breakpoints) {
		@media (min-width: map-get($grid-breakpoints, $bp)) {
			--container-width: #{map-get($container-max-widths, $bp)};
			--container-gutter-x: #{map-get($container-gutter-x-values, $bp)};
		}
	}

	--header-height: #{rem(100)}; // needed for fixed header
	--header-scrolled-height: #{rem(70)}; // needed for fixed header
}