.m-cf {
    &.module-hero {
        background-color: $iag-orange-500 !important;

        .container {
            display: flex;
            flex-direction: column;

            .module-header {
                &__uptitle,
                &__title,
                &__subtitle {
                    color: $white !important;
                }
            }

            .m-cf__form {
                max-width: rem(800);
            }
        }
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(64);
        align-items: center;
        @include max(lg) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(12);
        padding: 0;
        margin: rem(24 0 32);
        @include max(md) {
            align-items: center;
        }
    
        &-item {
            display: flex;
            align-items: flex-start;
            gap: rem(12);
    
            .list-item__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: rem(24);
                height: rem(24);
                border-radius: 50%;
                background-color: $iag-orange-500;
                margin-top: rem(2);
    
                svg {
                    width: rem(16);
                    height: rem(16);
                    fill: none;
                    stroke: $white;
                }
            }
    
            .list-item__content {
                display: flex;
                flex-direction: column;
                gap: rem(4);
                @include max(lg) {
                    width: 100%;
                }
    
                &-title {
                    font-weight: 600;
                    color: $white;
                    font-size: rem(16);
                    @include max(md) {
                        text-align: center;
                    }
                }
    
                &-description {
                    color: $iag-navy-100;
                    font-size: rem(14);
                    line-height: 1.5;
                }
            }
        }
    }

    &__btn {
        @include max(md) {
            display: flex;
            margin: 0 auto;
        }
    }
}