.m-experience {

	&__title {
		margin-bottom: rem(24);
	}

    &__subtitle {
        max-width: rem(800);
    }

    &__tabs {
        margin-top: rem(40);
        display: grid;
        grid-template-columns: 1fr 75%;
        gap: rem(40);
        @include max(xl) {
            display: flex;
            flex-direction: column;
        }

        &-titles {
            display: flex;
            flex-direction: column;
            gap: rem(12);
            @include max(xl) {
                flex-direction: row;
                flex-wrap: wrap;
            }
            @include max(md) {
                justify-content: center;
                text-align: center;
            }

            &-title {
                position: relative;
                font-size: rem(24);
                text-transform: uppercase;
                font-weight: 600;
                color: #0F1F33;
                letter-spacing: 0.05em;
                transition: $default-transition;
                &:hover {}

                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 1px;
                    background-color: $secondary;
                    transition: $default-transition;
                }

                &.is-active {
                    &::after {
                        width: 100%;
                        background-color: $primary;
                    }
                }
            }
        }

        &-contents {

        }
    }

    &__swiper {
        height: 100%;
        padding-bottom: rem(40);
        
        .swiper-wrapper {
            align-items: stretch;
        }

        &-pagination {
            width: auto !important;
        }

        // &-navigation {
        //     position: absolute;
        //     left: 50%;
        //     transform: translateX(-50%);
        //     bottom: 0;
        //     background-color: grey;
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        //     gap: rem(24);

        //     .swiper-button-prev,
        //     .swiper-button-next {
        //         transform: none;
        //     }


        //     .swiper-button-prev {
        //         position: relative;
        //     }
        //     .swiper-button-next {
        //         position: relative;
        //     }
        // }
    }

    &__card {
        position: relative;
        height: auto;
        min-height: rem(260);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(20);
        border-radius: rem(16);
        overflow: hidden;
        background-color: $iag-navy-700;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: rgba($black, .3);
            pointer-events: none;
        }
        &:hover {
            .m-experience__card-banner {
                opacity: 0;
            }
            .m-experience__card-title {
                opacity: 0;
            }
            .m-experience__card-details {
                opacity: 1;
            }
        }
        &-banner {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            transition: $default-transition;
        }

        &-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 100%;
            display: block;
            text-align: center;
            letter-spacing: 0.2em;
            font-size: rem(32);
            text-transform: uppercase;
            transition: all .5s;
            text-shadow: 0 0 rem(40) $white;
            color: $white !important;
            transition: $default-transition;
            opacity: 1;
        }

        &-details {
            position: relative;
            color: $white;
            z-index: 1;
            padding: rem(16);
            font-size: rem(16);
            display: flex;
            flex-direction: column;
            gap: rem(20);
            align-items: center;
            transition: $default-transition;
            opacity: 0;
        }

        &-btn {
            position: relative;
            z-index: 1;
            transition: all .5s;
        }
    }

	// &__swiper {
	// 	// width: 50%;

	// 	&-button-next,
	// 	&-button-prev {
	// 		height: 100%;
	// 		width: rem(64);
	// 	}

	// 	&-button-next {
	// 		justify-content: flex-end;
	// 		background: linear-gradient(to left, $secondary 0%, rgba($secondary, 0) 100%);
	// 	}
	// 	&-button-prev {
	// 		justify-content: flex-start;
	// 		background: linear-gradient(to right, $secondary 0%, rgba($secondary, 0) 100%);
	// 	}

	// 	&-slide {
	// 		display: flex;
	// 		align-items: center;
	// 		justify-content: center;
	// 		width: fit-content;

	// 		.slide-icon__wrapper {
	// 			position: relative;
	// 			width: rem(84);
	// 			height: rem(84);
	// 			border: 1px solid $primary;
	// 			border-radius: 50%;
	// 			display: flex;
	// 			align-items: center;
	// 			justify-content: center;

	// 			.slide-icon {
	// 				position: absolute;
	// 				left: 50%;
	// 				top: 50%;
	// 				width: rem(62);
	// 				height: rem(62);
	// 				transform: translate(-50%, -50%);
	// 				object-fit: cover;
	// 			}
	// 		}
	// 	}
	// }
}