.m-experience {

	&__title {
		margin-bottom: rem(24);
	}

    &__subtitle {
        max-width: rem(800);
    }

    &__tabs {
        margin-top: rem(40);
        display: grid;
        grid-template-columns: 1fr 75%;
        gap: rem(40);
        @include max(xl) {
            display: flex;
            flex-direction: column;
        }

        &-titles {
            display: flex;
            flex-direction: column;
            gap: rem(12);
            @include max(xl) {
                flex-direction: row;
                flex-wrap: wrap;
            }
            @include max(md) {
                justify-content: center;
                text-align: center;
            }

            &-title {
                position: relative;
                font-size: rem(24);
                text-transform: uppercase;
                font-weight: 600;
                color: $iag-navy-800;
                letter-spacing: 0.05em;
                transition: $default-transition;
                cursor: pointer;
                &:hover {
                    color: $iag-orange-500;
                }

                &:after {
                    position: absolute;
                    content: '';
                    left: 0;
                    bottom: 0;
                    width: 0%;
                    height: 1px;
                    background-color: $secondary;
                    transition: $default-transition;
                }

                &.is-active {
                    color: $iag-orange-500;
                    pointer-events: none;
                }

                &.is-active.has-url {
                    pointer-events: all;
                    &:hover {
                        &::after {
                            width: 100%;
                            background-color: $iag-orange-500;
                        }
                    }
                }
            }
        }

        &-contents {

        }
    }

    &__swiper {
        height: 100%;
        padding-bottom: rem(40);

        .swiper-wrapper {
            align-items: stretch;
        }

        &-pagination {
            width: auto !important;
        }
    }

    &__card {
        position: relative;
        height: auto;
        min-height: rem(260);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: rem(20);
        border-radius: rem(16);
        overflow: hidden;
        background-color: $iag-navy-700;
        &:after {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: $black-a30;
            pointer-events: none;
        }
        &:hover {
            .m-experience__card-banner {
                opacity: 0;
            }
            .m-experience__card-title {
                opacity: 0;
            }
            .m-experience__card-details {
                opacity: 1;
            }
        }
        &-banner {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 1;
            transition: $default-transition;
        }

        &-title {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 100%;
            display: block;
            text-align: center;
            letter-spacing: 0.2em;
            font-size: rem(32);
            text-transform: uppercase;
            transition: all .5s;
            text-shadow: 0 0 rem(40) $white;
            color: $white !important;
            transition: $default-transition;
            opacity: 1;
        }

        &-details {
            position: relative;
            color: $white;
            z-index: 1;
            padding: rem(16);
            font-size: rem(16);
            display: flex;
            flex-direction: column;
            gap: rem(20);
            align-items: center;
            transition: $default-transition;
            opacity: 0;
        }

        &-btn {
            position: relative;
            z-index: 1;
            transition: all .5s;
        }
    }
}
