.m-follow {
    &__inner {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: rem(48);
        align-items: center;
        background: $iag-navy-700;
        border-radius: rem(12);
        box-shadow: 0 16px 32px rgba(20, 22, 26, 0.10), 0 4px 8px rgba(20, 22, 26, 0.04);
        padding: rem(52);

        .module-header {
            &__uptitle {
                color: $iag-orange-300;
            }

            &__title {
                color: $iag-orange-300;
            }

            &__subtitle {
                color: $iag-navy-100;
            }
        }

        &-content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: rem(12);

            .content-link {
                &__icon {
                    width: rem(18);
                    height: rem(18);
                }
            }
            .content-subtitle {
                font-family: $font-alt;
                font-size: rem(12);
                color: $iag-navy-200;
                letter-spacing: 0.02em;
            }
        }

    }
}