.m-media {
    &.media-left {
        &.m-media-video {
            .container {
                grid-template-columns: 1.3fr 1fr;
                grid-template-areas: "right left";
            }
        }

        &.m-media-image {
            .container {
                grid-template-columns: 1.1fr 1fr;
                grid-template-areas: "right left";
            }
        }

        &.m-media-embed {
            .container {
                grid-template-columns: 1.1fr 1fr;
                grid-template-areas: "right left";
            }
        }
    }

    &.media-right {
        &.m-media-video {
            .container {
                grid-template-columns: 1fr 1.3fr;
                grid-template-areas: "left right";
            }
        }

        &.m-media-image {
            .container {
                grid-template-columns: 1fr 1.1fr;
                grid-template-areas: "left right";
                @include max(xl) {
                    grid-template-columns: 1fr 1.3fr;
                }
            }
        }

        &.m-media-embed {
            .container {
                grid-template-columns: 1fr 1.1fr;
                grid-template-areas: "left right";
                @include max(xl) {
                    grid-template-columns: 1fr 1.3fr;
                }
            }
        }
    }

   .left {
	    grid-area: left;
    }

    .right {
        grid-area: right;
    }

    .container {
        display: grid;
        gap: rem(64);
        align-items: center;
        @include max(xl) {
            gap: rem(32);
        }
        @include max(lg) {
            display: flex;
            flex-direction: column;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: rem(12);
        padding: 0;
        margin: rem(24 0 32);
        @include max(md) {
            align-items: center;
            text-align: center;
        }

        &-item {
            display: flex;
            align-items: flex-start;
            gap: rem(12);

            .list-item__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                width: rem(24);
                height: rem(24);
                border-radius: 50%;
                margin-top: rem(2);
                @include max(md) {
                    display: none;
                }

                svg {
                    width: rem(16);
                    height: rem(16);
                    fill: none;
                }
            }

            .list-item__content {
                display: flex;
                flex-direction: column;
                gap: rem(4);

                &-title {
                    font-weight: 600;
                    font-size: rem(16);
                }

                &-description {
                    font-size: rem(14);
                    line-height: 1.5;
                }
            }
        }
    }

    &__btn {
        @include max(md) {
            display: flex;
            margin: 0 auto;
        }
    }
}

// color theme
.m-media {
    &.bg-blue {
        .m-media__list {
            &-item {
                .list-item__icon {
                    background-color: $iag-orange-500;

                    svg {
                        stroke: $white;
                    }
                }

                .list-item__content {

                    &-title {
                        color: $white;
                    }

                    &-description {
                        color: $iag-navy-100;
                    }
                }
            }
        }
    }

    &.bg-white,
    &.bg-gray {
        .m-media__list {
            &-item {
                .list-item__icon {
                    background-color: $iag-orange-500;

                    svg {
                        stroke: $white;
                    }
                }

                .list-item__content {

                    &-title {
                        color: $iag-gray-900;
                    }

                    &-description {
                        color: $iag-gray-700;
                    }
                }
            }
        }
    }
}